// ==========================================================

// Project Name

// ==========================================================

/* Smallest ========================================= */


html {
  font-size: 16px;
  width: 100%;
  -webkit-text-size-adjust: none;
}

body {
  @include font-size(1, 1.7em);
  font-family: $basefont;
  font-weight: 100;
  width: 100%;
  color: $textcolor;

  * {
    @include transition(.2s all);
  }
}

a {
  text-decoration: none;
  color: $linkcolor;
  @include transition(.2s all);

  &:hover {
    color: $linkcolorhover;
  }
}

input[type="submit"],
button,
.button {
  display: inline-block;
  padding: 1.3em 2em;
  @include rounded(5px);
  background: $buttonbkg;
  color: $white;
  text-transform: uppercase;
  @include font-size(.85, 1.3);
  font-weight: 700;
  border: 0;
  cursor: hand;
  cursor: pointer;

  &:hover {
    background: darken($primary, 10);
    color: $white;
  }

  &.alt {
    background: $buttonaltbkg;

    &:hover {
      background: darken($primary, 10);
    }
  }
}

.content-width {
  max-width: 95%;
  margin: 0 auto;
}

.mobile-only {
  display: block;
}

header.global-header {
  .menu-link {
    text-indent: -9999em;
    background: $primary;
    color: $white;
    position: relative;
    width: 40px;
    height: 40px;
    line-height: 30px;
    font-size: 16px;

    &:before {
      content: "\f0c9";
      display: block;
      margin: 0 .7em 0 0;
      font-family: $fontawesome;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      text-indent: 0;
      text-align: center;
    }
  }

  nav.global-nav {
    ul.global-nav--list {
      display: none;
      @include transition(none);
      list-style: none;
    }
  }
}

.video {
  background: $black;
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}


.content {
  .page-content {

    .share {
      // sharethis platform tools: works well and hides the counter bubbles
      margin-bottom: 1em;

      div, span, a {
        box-sizing: content-box;
      }

      .stArrow {
        display: none !important;
        visibility: hidden !important;
      }
    }

    p {}

    ul, ol {}

    h1, h2, h3, h4, h5, h6 {}

    h1 {}
    h2 {}
    h3 {}
    h4 {}
    h5 {}
    h6 {}

    hr {}

    img {}

    .ui-selectmenu-button {
      border: 1px solid $inputborder;
      @include font-size(1);
      line-height: 1.3em;
      padding: .5em 1em;
      background: $inputbkg;
      width: 280px !important;
      position: relative;

      span.ui-selectmenu-text {
        padding: 0;
      }

      &.ui-corner-top {
        @include border-radius(2px 0 0 2px);
      }

      .ui-icon {
        width: 40px;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        background: transparent url(../img/select-arrow.png) no-repeat right center;
        margin: 0;
      }
    }
  }

  aside {

  }
}

.ui-selectmenu-menu {
  @include border-radius(0 2px 2px 0);
  width: 280px !important;
  background: $inputbkg;
  border: 1px solid $inputborder;
  border-top: 0;
  overflow: hidden;

  li.ui-menu-item {
    padding: .3em 1em;
    display: block;
    border: 0;
    border-bottom: 1px solid $inputborder;
    margin: 0;

    &.ui-state-focus {
      padding: .3em 1em;
      border-bottom: 1px solid $inputborder;
      margin: 0;
      background: $primary;
      color: $white;
    }

    &:last-child {
      border-bottom: 0;
    }
  }
}
