// ==========================================================

// Project Name

// ==========================================================


@import "reset";
@import "fonts";
@import "variables";
@import "mixins";
@import "custom-select";
@import "smallest";


@media print {
  @import "print";
}

// Below 480px
@media all and (max-width: 480px) {
  @import "480_and_under";
}

// 480px
@media all and (min-width: 480px) {
  @import "480";
}

// 600px
@media all and (min-width: 600px) {
  @import "600";
}

// 768px
@media all and (min-width: 768px) {
  @import "768";
}

// 960px
@media all and (min-width: 960px) {
  @import "960";
}

// 1280px
@media all and (min-width: 1280px) {
  @import "1200";
}


// 2x
@media (-webkit-min-device-pixel-ratio: 1.3),
(min--moz-device-pixel-ratio: 1.3),
(-o-min-device-pixel-ratio: 2.6/2),
(min-device-pixel-ratio: 1.3),
(min-resolution: 1.3dppx) {
  @import "2x";
}


// For ResponsiveSlides.js
@import "responsiveslides";
